<%= form_with(model: [@user, ffni], local: true) do |form| %>
  <% if ffni.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ffni.errors.count, "error") %> prohibited this ffni from being saved:</h2>

      <ul>
      <% ffni.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :topic %>
    <%= form.text_field :topic %>
  </div>

  <div class="field">
    <%= form.label :media %>
    <%= form.text_field :media %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :badge %>
    <%= form.text_field :badge %>
  </div>

  <div class="field">
    <%= form.label :upvotes %>
    <%= form.text_field :upvotes %>
  </div>

  <div class="field">
    <%= form.label :downvotes %>
    <%= form.text_field :downvotes %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
