<p id="notice"><%= notice %></p>

<!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="https://demos.creative-tim.com/blk-design-system/index.html" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
          <span>FFN•</span> See. Verify. Share.
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a>
                FFN•
              </a>
            </div>
            <div class="col-6 collapse-close text-right">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item p-0">
            <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
              <i class="fab fa-twitter"></i>
              <p class="d-lg-none d-xl-none">Twitter</p>
            </a>
          </li>
          <li class="nav-item p-0">
            <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
              <i class="fab fa-facebook-square"></i>
              <p class="d-lg-none d-xl-none">Facebook</p>
            </a>
          </li>
          <li class="nav-item p-0">
            <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
              <i class="fab fa-instagram"></i>
              <p class="d-lg-none d-xl-none">Instagram</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Back to Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/creativetimofficial/blk-design-system/issues">Help?</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper">
    <div class="page-header">
      <div class="page-header-image"></div>
      <div class="content">
        <div class="container">
            <div class="col-md-10 ml-auto col-xl-10 mr-auto">
                <div class="card">
                    <div class="card-header">
                        <%= @ffni.topic %>
                    </div>
                    <div class="card-body"  style="display: grid; grid-template-columns: 80% 20%; grid-template-rows: auto; grid-template-areas: 'content percent';">
                        <div style="grid-area: content">
                            <div>
                            <%= @ffni.content %>
                            <%= @ffni.media %>
                            </div>
                            <div>
                                <a href="#" style="margin-right: 20px; color: #28a745" id="<%= @ffni.upvotes %>" class="upvote"><i class="tim-icons icon-check-2" style="font-size: 24px;"></i> <%= @ffni.upvotes %></a>
                                <a href="#" style="margin-right: 40px; color: #ffc107" id="<%= @ffni.downvotes %>" class="downvote"><i class="tim-icons icon-simple-remove" style="font-size: 24px;"></i> <%= @ffni.downvotes %></a>
                                <a href="#" style="color: #95cbcf"><u><%=@ffni.user.name%></u></a>
                                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                                <input id="ffni_id" value="<%=@ffni.id%>" type="hidden">
                                <input id="user_id" value="<%=@ffni.user.id%>" type="hidden">
                                <input id="upvotes" value="<%=@ffni.upvotes%>" type="hidden">
                                <input id="downvotes" value="<%=@ffni.downvotes%>" type="hidden">
                                <input id="topic" value="<%=@ffni.topic%>" type="hidden">
                                <input id="media" value="<%=@ffni.media%>" type="hidden">
                                <input id="content" value="<%=@ffni.content%>" type="hidden">
                                
                            </div>
                        </div>
                        <div class="<%= @ffni.badge.to_i > 50 ? 'nav nav-pills nav-pills-danger nav-pills-icons' : 'nav nav-pills nav-pills-success nav-pills-icons' %>" style="grid-area: percent">
                            <li class="nav-item">
                                <a class="nav-link active show" data-toggle="tab" href="#">
                                <i class="tim-icons icon-atom"></i> <%= (@ffni.badge.to_i).round(4) %>%
                                </a>
                            </li>
                        </div>
                    </div>
                    <%= link_to 'Edit', edit_user_ffni_path(@user, @ffni) %> |
                    <%= link_to 'Back', user_ffnis_path %>
                </div>
                <u>Comments</u>
                <div class="card" style="margin-top: 10px;">
                    <div class="card-body">
                            <%= form_with(model: [@user, @ffni, @comment], local: true) do |form| %>
                              <% if @comment.errors.any? %>
                                <div id="error_explanation">
                                  <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

                                  <ul>
                                  <% @comment.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                  <% end %>
                                  </ul>
                                </div>
                              <% end %>

                              <div class="field">
                                <%= form.label :text %>
                                <%= form.text_field :text, class: "form-control", placeholder: "Write your comment here..." %>
                              </div>

                              <div class="field">
                                <%= hidden_field_tag :approvals %>
                              </div>

                              <div class="field">
                                <%= hidden_field_tag :disapprovals %>
                              </div>

                              <div class="field">
                                <%= hidden_field_tag :user_id, value: @user.id %>
                              </div>

                              <div class="field">
                                <%= hidden_field_tag :ffni_id, value: @ffni.id %>
                              </div>

                              <div class="actions">
                                <%= form.submit class: "btn btn-success" %>
                              </div>
                            <% end %>
                    </div>
                </div>
                <% @ffni.comments.each do |comment| %>
                <div class="card">
                    <div class="card-header">
                        Topic
                    </div>
                    <div class="card-body"  style="display: flex;">
                        <div style="display: grid; grid-gap: 20px;">
                            <div>
                            <%= comment.text %>
                            <td><%= link_to 'Show', [@user, @ffni, comment] %></td>
                            </div>
                            <div>
                                <a href="#" style="margin-right: 20px; color: #2883a7" id="approve"><i class="tim-icons icon-minimal-up" style="font-size: 24px;"></i> <%= comment.approvals %></a>
                                <a href="#" style="margin-right: 40px; color: #ff7f07" id="disapprove"><i class="tim-icons icon-minimal-down" style="font-size: 24px;"></i> <%= comment.disapprovals %></a>
                                <a href="#" style="color: #95cbcf"><u><%= comment.user.name %></u></a>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h1 class="title">FFN•</h1>
          </div>
          <div class="col-md-3">
            <ul class="nav">
              <li class="nav-item">
                <a href="../index.html" class="nav-link">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a href="../examples/landing-page.html" class="nav-link">
                  Landing
                </a>
              </li>
              <li class="nav-item">
                <a href="../examples/register-page.html" class="nav-link">
                  Register
                </a>
              </li>
              <li class="nav-item">
                <a href="../examples/profile-page.html" class="nav-link">
                  Profile
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="nav">
              <li class="nav-item">
                <a href="https://creative-tim.com/contact-us" class="nav-link">
                  Contact Us
                </a>
              </li>
              <li class="nav-item">
                <a href="https://creative-tim.com/about-us" class="nav-link">
                  About Us
                </a>
              </li>
              <li class="nav-item">
                <a href="https://creative-tim.com/blog" class="nav-link">
                  Blog
                </a>
              </li>
              <li class="nav-item">
                <a href="https://opensource.org/licenses/MIT" class="nav-link">
                  License
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="title">Follow us:</h3>
            <div class="btn-wrapper profile">
              <a target="_blank" href="https://twitter.com/creativetim" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Follow us">
                <i class="fab fa-twitter"></i>
              </a>
              <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Like us">
                <i class="fab fa-facebook-square"></i>
              </a>
              <a target="_blank" href="https://dribbble.com/creativetim" class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip" data-original-title="Follow us">
                <i class="fab fa-dribbble"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
